/* Provide sufficient contrast against white background */
a, a:visited, a:hover, a:active {
    color: #00866e;
}

code {
    color: #E01A76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

